## This file contains all the necessary packages for the
## python scripts in this repositor. I used Python 3.10.5

# It is used to generate Code Coverage reports.
gcovr == 6.0

# It is used to generate the example codes.
Jinja2 == 3.1.2