BOARD=Arduino UNO
CHANNEL=Serial
ENVIRONMENT=Arduino

{{ HEADER }}

{{ INCLUDES }}

{{ GLOBAL_VARIABLES }}

{{ FUNCTION_PROTOTYPES }}

// System init section.
void setup(){

    Serial.begin(115200);
{% filter indent( width = 4 ) %}
{{ SETUP }}
{% endfilter %}
}

// Infinite loop.
void loop(){
{% filter indent( width = 4 ) %}
{{ LOOP }}
{% endfilter %}
}

{{ FUNCTION_IMPLEMENTATIONS }}
