EXCLUDE=NONE
CATEGORY=Basic

++--HEADER--++

/*
 * Created on Aug 10 2020
 *
 * Copyright (c) {{ YEAR }} - Daniel Hajnal
 * hajnal.daniel96@gmail.com
 * This file is part of the Shellminator project.
 * Modified {{ YEAR }}.{{ MONTH }}.{{ DAY }}
*/

++--INCLUDES--++

#include "Shellminator.hpp"

++--GLOBAL_VARIABLES--++

// Create a Shellminator object, and initialize it to use {{ channel }}
Shellminator shell( &{{ channel }} );

++--FUNCTION_PROTOTYPES--++

++--SETUP--++

// Clear the terminal
shell.clear();

// Print some formatted text. Firstly, we need to specify the format,
// then print the text as usual.
shell.format( &{{ channel }}, Shellminator::BOLD, Shellminator::YELLOW );
{{ channel }}.println( "Is it bold? Is it yellow?");

// Finally, we need to set back the format to default.
shell.format( &{{ channel }}, Shellminator::REGULAR, Shellminator::WHITE );

// Some other example.
shell.format( &{{ channel }}, Shellminator::BLINKING, Shellminator::CYAN );
{{ channel }}.println( "Can it blink?");
shell.format( &{{ channel }}, Shellminator::REGULAR, Shellminator::WHITE );

shell.format( &{{ channel }}, Shellminator::UNDERLINE, Shellminator::RED );
{{ channel }}.println( "Underline?");
shell.format( &{{ channel }}, Shellminator::REGULAR, Shellminator::WHITE );

shell.format( &{{ channel }}, Shellminator::ITALIC, Shellminator::GREEN );
{{ channel }}.println( "Italic?");
shell.format( &{{ channel }}, Shellminator::REGULAR, Shellminator::WHITE );

shell.format( &{{ channel }}, Shellminator::ITALIC, Shellminator::BOLD, Shellminator::YELLOW );
{{ channel }}.println( "Multiple?");
shell.format( &{{ channel }}, Shellminator::REGULAR, Shellminator::WHITE );

// How to disable formatting?
shell.enableFormatting = false;
shell.format( &stdioChannel, Shellminator::ITALIC, Shellminator::GREEN );
stdioChannel.println( "Disable formatting?");
shell.format( &stdioChannel, Shellminator::REGULAR, Shellminator::WHITE );

++--LOOP--++

++--FUNCTION_IMPLEMENTATIONS--++
