EXCLUDE=NONE
CATEGORY=Basic

++--HEADER--++

/*
 * Created on Aug 10 2020
 *
 * Copyright (c) {{ YEAR }} - Daniel Hajnal
 * hajnal.daniel96@gmail.com
 * This file is part of the Shellminator project.
 * Modified {{ YEAR }}.{{ MONTH }}.{{ DAY }}
*/

++--INCLUDES--++

#include "Shellminator.hpp"

++--GLOBAL_VARIABLES--++

// Create a Shellminator object, and initialize it to use {{ channel }}
Shellminator shell( &{{ channel }} );

uint8_t passwordHash[] = { 0xCC, 0xb4, 0x24, 0x83 };

++--FUNCTION_PROTOTYPES--++

++--SETUP--++

// Clear the terminal
shell.clear();

{{ channel }}.print( "What could be the password? Maybe " );
shell.format( &{{ channel }}, Shellminator::BOLD, Shellminator::YELLOW );
{{ channel }}.print( "Password");
shell.format( &{{ channel }}, Shellminator::REGULAR, Shellminator::WHITE );
{{ channel }}.println();

{{ channel }}.print( "Oh, and please log out after you finished with" );
shell.format( &{{ channel }}, Shellminator::BOLD, Shellminator::BG_WHITE, Shellminator::BLACK );
{{ channel }}.print( " Ctrl-D ");
shell.format( &{{ channel }}, Shellminator::REGULAR, Shellminator::WHITE );
{{ channel }}.println( "key!" );

// Enable password protection.
shell.setPassword( passwordHash, sizeof( passwordHash ) );


// Initialize shell object.
shell.begin( "arnold" );

++--LOOP--++

// Process the new data.
shell.update();

++--FUNCTION_IMPLEMENTATIONS--++
