EXCLUDE=NONE
CATEGORY=Basic

++--HEADER--++

/*
 * Created on June 8 2024
 *
 * Copyright (c) {{ YEAR }} - Daniel Hajnal
 * hajnal.daniel96@gmail.com
 * This file is part of the Shellminator project.
 * Modified {{ YEAR }}.{{ MONTH }}.{{ DAY }}
*/

++--INCLUDES--++

#include "Shellminator.hpp"

++--GLOBAL_VARIABLES--++

int beep_counter = 0;

// Create a Shellminator object, and initialize it to use {{ channel }}
Shellminator shell( &{{ channel }} );

// Create a function, that can be called every time when a command gets entered.
void execution_function( char* command, Shellminator* caller ){
    if( beep_counter >= 3 ){
        caller -> channel -> println( "It was enough beeping for today..." );
        return;
    }
    caller -> channel -> println( "Beeeep!" );
    caller -> beep();
    beep_counter++;
}

++--FUNCTION_PROTOTYPES--++

++--SETUP--++

// Clear the terminal
shell.clear();

{{ channel }}.println( "It will only work, when you type something into the prompt." );
{{ channel }}.println();

// Attach the execution function to the shell object.
shell.attachExecFunc( execution_function );

// Initialize shell object.
shell.begin( "arnold" );

++--LOOP--++

// Process the new data.
shell.update();

++--FUNCTION_IMPLEMENTATIONS--++
