EXCLUDE=NONE
CATEGORY=Advanced

++--HEADER--++

/*
 * Created on Aug 10 2020
 *
 * Copyright (c) {{ YEAR }} - Daniel Hajnal
 * hajnal.daniel96@gmail.com
 * This file is part of the Shellminator project.
 * Modified {{ YEAR }}.{{ MONTH }}.{{ DAY }}
 *
 * To test this example, you need a terminal emulator like PuTTY or Minicom.
 * This example shows a simple setup for Shellminator. It will create an
 * interactive interface, but it does not execute any command.
 * See Shellminator_execute example for further information.
*/

++--INCLUDES--++

#include "Shellminator.hpp"

++--GLOBAL_VARIABLES--++

// Create a Shellminator object, and initialize it to use {{ channel }}
Shellminator shell( &{{ channel }} );


++--FUNCTION_PROTOTYPES--++

void upArrowCallback( Shellminator* caller ){
    caller -> setBannerText( "up" );
}

void downArrowCallback( Shellminator* caller ){
    caller -> setBannerText( "down" );
}

void leftArrowCallback( Shellminator* caller ){
    caller -> setBannerText( "left" );
}

void rightArrowCallback( Shellminator* caller ){
    caller -> setBannerText( "right" );
}

void searchKeyCallback( Shellminator* caller ){
    caller -> freeSearchKey();
    caller -> freeUpArrow();
    caller -> freeDownArrow();
    caller -> freeLeftArrow();
    caller -> freeRightArrow();
    caller -> setBannerText( "default" );
}

++--SETUP--++

// Clear the terminal
shell.clear();

{{ channel }}.println( "Use the arrow keys to change the banner text." );
{{ channel }}.print( "To reset the functionality, press" );
Shellminator::setFormat_m( &{{ channel }}, Shellminator::BOLD, Shellminator::BG_WHITE, Shellminator::BLACK );
{{ channel }}.print( " Ctrl-R ");
Shellminator::setFormat_m( &{{ channel }}, Shellminator::REGULAR, Shellminator::WHITE );
{{ channel }}.println( "key." );
{{ channel }}.println();

shell.overrideUpArrow( upArrowCallback );
shell.overrideDownArrow( downArrowCallback );
shell.overrideLeftArrow( leftArrowCallback );
shell.overrideRightArrow( rightArrowCallback );
shell.overrideSearchKey( searchKeyCallback );

// Initialize shell object.
shell.begin( "arnold" );

++--LOOP--++

// Process the new data.
shell.update();

++--FUNCTION_IMPLEMENTATIONS--++
